@font-face {
    font-family: "century";
    src: url("fontes/CenturyGothic.ttf");
}

@font-face {
    font-family: "lucida";
    src: url("fontes/LucidaBlackletter.ttf");
}

@font-face {
    font-family: "parchment";
    src: url("fontes/Parchment.ttf");
}

header {
}

#logo {
    background-color: #000;
    margin: 0;
}

#logo img:nth-child(2){
    display: block;
    float: right;
}


.fundoHome {
    background: url("img/FundoHome.jpg");
    /*    -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;*/
    background-size: 100%;
    width: 81.45em;
    height: 40em;
}

.fundoHome .menu {
    display: block;
    padding: 0;
}

.fundoHome .menu ul{
    list-style: none;
    float: left;
    background-color: #ffcc08;
    padding: 0;

}

.fundoHome .menu li {
    padding: 2em;
    border-bottom: .3em solid #f00; 
}

.fundoHome .menu li img {
    display: block;
    margin: auto;
    width: 5em;
    height: 5em;
}

.fundoHome .fundoTexto {
    font-family: "century";
    color: #fff;
    padding: 1em 1em 1em 1em;
    width: 44em;
}

.fundoHome .imagemHome {
    display: block;
    padding: 0;
}

/*

.menu {
        position: absolute;
        top: 50px;
        left: 0px;
        background-color: #ffcc08;
        width: 10em;
}

.botaoMenu {
        width: 100%;
        height: 100%;
        padding: 10%;
        border-bottom: 3px solid #f00;
        
}

#titulo {
        text-align: center;
        font-size: 2.5em;

}

.tituloHome {
        margin: 0px 0px 10px 0px;
        padding-top: 5px;
        border-bottom: 4px solid #f00;
}

.textoHome {
        text-align: justify;
}

.imagemHome {
        text-align: left;
}

.footer {
        background-image: url("img/footerImagem.jpg");
        background-size: 100%;
}

.itemFooter {
        text-align: center;
        margin: 8px 0px;
        color: #fff;
        letter-spacing: 0.5px;
}

.footerInicio {
        font-weight: 700;
}

.footerFinal {
        font-weight: 200;
}

.copyright {
        font-style: italic;
}*/